/build
*.vcxproj
/gift
RIF_Documentation.md
/rifs
/ShadPKG-ps4
/test_output
/toml11
/user
debug_log.txt
example_content_ids.txt
IV0000-TEST00100_00-OPENORBISTEST000.pkg
/vcpkg
/robin-map
/.vscode
/file-per-analisi
/vcpkg_backup
.DS_Store
pkg_extraction.log
sfo.c
/build_linux
/output_test
/sce_module
sce_discmap.plt
/pkg-test
/decompiled
/extraction_out
/full_extract
*.bin
/common/res
/Orbis
/sce_sys
/music
/common/Media
export_log.txt
export_log_full.txt
export_log_full_clean.txt
/test_out
