/build
*.vcxproj
/gift
RIF_Documentation.md
/rifs
/ShadPKG-ps4
/test_output
/toml11
/user
debug_log.txt
example_content_ids.txt
IV0000-TEST00100_00-OPENORBISTEST000.pkg
/vcpkg
/robin-map
/.vscode
/file-per-analisi
/vcpkg_backup
.DS_Store
pkg_extraction.log
/pkg-test
sfo.c
